body {
    margin: 0;
    background-color: #fff;
    font-family: 'Gloock', serif;
    text-align: center;
}

p,h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}

.doobry {
    position: relative;
    top: 50px;
    width: 300px;
}

.top {
    padding: 20px 0px;
    font-family: 'Mynerve', cursive;
    font-size: 60px;
}

.topimage {
    border-radius: 50%;
    width: 10%;
}

.bottomimage {
    width: 10%;
}

.middle {
    padding: 20px 50px;
    background-color: #2B2B2B;
    color: white;
}

.bottom {
    padding: 20px 50px;
}

.foot {
    padding: 20px 0px;
    margin: 0;
    color: white;
    background-color: #2B2B2B;
}
