body {
    margin: 0;
    background-color: #645CBB;
    font-family: 'Playfair Display', serif;
    color: #EBC7E6;
    text-align: center;
}

img {
    width: 20%;
}

.image1 {
    position: relative;
    right: 50px;
}

.image2{
    position: relative;
    left: 50px;
}

.image3 {
    position: relative;
    bottom: 10px;
}

